@font-face {
    font-family: Oswald;
     src: url("assets/fonts/assets/Oswald-Bold.ttf");
   }

   @media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }

* {
    box-sizing: border-box;
  }

  :root {
    --pink: #d62ea9;
    --light-green: #228f06 ;

  }

body {
    background-color: rgb(223, 230, 227);
    min-height: 100vh;
    margin: 0; 
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1{
    font-family: Oswald;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .nav{
    font-size: 18px;
  }

  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    line-height: 40px;
    list-style: none;
    padding: 0 20px;
    color:blue;    
    transition: .2s;
  }

  .nav-item{
    padding: 5px;
    margin: 5px;
  }

  .nav-link{
    text-decoration: none;

  }

  .document-link:hover{
    text-decoration: underline;
    color: var(--pink);
}

  html {
    scroll-behavior: smooth; 
  }

  .section-item a {
    color: #829985;
    text-decoration: none;  
    transition: color 0.5s;
  }
  .section-item a:hover {
    color: #4d2323;
  }

  .main-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
  }
  
  .section {
    width: 50%;
  }
  .section-title{
    padding-top: 20px;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #0d0dd1;
  }

  .code-example{
    font-size: 16px;
    font-weight: 300;
  }

  .rss-logo{
    width: 70px;
    margin: 0 10px;
  }

  .footer{
    background-color: var(--light-green);
    text-align: center;
    padding: 10px;
    font-size: 18px;
  }

  pre{
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
  }

  #projects{
    font-size: 18px;
  }